.u-section-1 .u-sheet-1 {
  min-height: 655px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 20px auto 0;
}

.u-section-1 .u-gallery-1 {
  height: 444px;
  width: 959px;
  margin: 39px auto 48px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-back-image-1 {
  object-position: 50% 39.15%;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-back-image-2 {
  object-position: 50% 49.13%;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-1 .u-back-image-3 {
  object-position: 50% 9.62%;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-gallery-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-gallery-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-gallery-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 551px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 50px auto 0;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 91px 463px 0 auto;
}

.u-section-2 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 127px;
}

.u-section-2 .u-text-2 {
  margin: -64px 50px 0 694px;
}

.u-section-2 .u-text-3 {
  margin: -56px auto 0 208px;
}

.u-section-2 .u-text-4 {
  margin: 17px 611px 0 208px;
}

.u-section-2 .u-text-5 {
  margin: -56px 90px 0 694px;
}

.u-section-2 .u-text-6 {
  margin: 50px 238px 0 auto;
}

.u-section-2 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: -28px 463px 0 auto;
}

.u-section-2 .u-text-7 {
  margin: -64px auto 0 208px;
}

.u-section-2 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: -28px auto 0 127px;
}

.u-section-2 .u-text-8 {
  margin: -19px 91px 0 694px;
}

.u-section-2 .u-text-9 {
  margin: -84px 604px 78px 208px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-icon-1 {
    margin-right: 382px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 184px;
    margin-left: 544px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 511px;
    margin-left: 108px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
    margin-left: 585px;
  }

  .u-section-2 .u-icon-3 {
    margin-right: 382px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
    margin-left: 585px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 504px;
    margin-left: 108px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-icon-1 {
    margin-right: 293px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 324px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 399px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 365px;
  }

  .u-section-2 .u-icon-3 {
    margin-right: 293px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 365px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 392px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-icon-1 {
    margin-right: 220px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 138px;
    margin-left: 144px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 156px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 219px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 185px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 179px;
  }

  .u-section-2 .u-icon-3 {
    margin-right: 220px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 156px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 185px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 212px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-top: 325px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 174px;
    margin-right: 139px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 80px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -147px;
    margin-right: 87px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: -112px;
    margin-left: 98px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 133px;
    margin-right: 19px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -83px;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: 39px;
    margin-right: 113px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: -36px;
    margin-right: 139px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 13px;
    margin-left: 98px;
  }

  .u-section-2 .u-icon-4 {
    margin-top: -36px;
    margin-left: 80px;
  }

  .u-section-2 .u-text-8 {
    margin-top: -176px;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-top: 97px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 615px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  margin: 54px 111px 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  width: 724px;
  margin: 30px auto 0;
}

.u-section-3 .u-form-1 {
  height: 353px;
  background-image: none;
  width: 570px;
  margin: 32px auto 17px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 11px;
    margin-right: 11px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-form-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-form-1 {
    width: 340px;
  }
}